@using ProjetoEmprestimoLivros.Dto.Livro
@model LivroCriacaoDto

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}


<h2 class="text-center">Cadastro de Livros</h2>

<div class="container mt-5">
    <form method="post" asp-action="Cadastrar" asp-controller="Livro" enctype="multipart/form-data">
        <div class="text-center">
            <label for="ImageFile">
                <img id="img" style="width: 150px; height:200px"></img>
            </label>
        </div>
    </form>
</div>

<div class="container mt-15">
    <form method="post" asp-action="Cadastrar" asp-controller="Livro" enctype="multipart/form-data">

        <div class="mb-1">
            <label class="for-label mt-3">Capa: </label>
            @*  O asp-for indica que esse input é para o campo Capa do Dto LivroCriacaoDto *@
            <input type="file" id="ImageFile" name="foto" class="form-control shadow-none" /> @* Deve ser do tipo file pra poder enviar arquivos *@
        </div>

        <div class="mb-1">
            <label class="for-label mt-3">Titulo: </label>
            <input type="text" class="form-control shadow-none" asp-for="Titulo" />
            <span asp-validation-for="Titulo" class="text-danger" ´></span>
        </div>

        <div class="mb-1">
            <label class="for-label mt-3">Autor: </label>
            <input type="text" class="form-control shadow-none" asp-for="Autor" />
            <span asp-validation-for="Autor" class="text-danger" ´></span>

            <div class="mb-1">
                <label class="for-label mt-3">Descrição: </label>
                <textarea asp-for="Descricao" class="form-control shadow-none"></textarea>@*  texarea é para textos grandes *@
                <span asp-validation-for="Descricao" class="text-danger" ´></span>
            </div>

            <div class="col-12 d-flex gap-1 w-100">
                <div class="mb-1 col-6">
                    <label class="for-label mt-3">Ano Publicação: </label>
                    <input type="text" class="form-control shadow-none" asp-for="AnoPublicacao" />
                    <span asp-validation-for="AnoPublicacao" class="text-danger" ´></span>
                </div>

                <div class="mb-1 col-6">
                    <label class="for-label mt-3">Genero: </label>
                    <input type="text" class="form-control shadow-none" asp-for="Genero" />
                    <span asp-validation-for="Genero" class="text-danger" ´></span>
                </div>
            </div>

            @*  Colocamos os campos em uma nova div para que fiquem na mesma linha *@
            <div class="col-12 d-flex gap-1 w-100">
                <div class="mb-1 col-6">
                    <label class="for-label mt-3">Quantidade em estoque: </label>
                    <input type="number" min="1" class="form-control shadow-none" asp-for="QuantidadeEmEstoque" /> @* Permitem apenas números a partir de 1 *@
                    <span asp-validation-for="QuantidadeEmEstoque" class="text-danger" ´></span>
                </div>

                <div class="mb-1 col-6">
                    <label class="for-label mt-3">ISBN: </label>
                    <input type="text" class="form-control shadow-none" asp-for="ISBN" />
                    <span asp-validation-for="ISBN" class="text-danger" ´></span>
                </div>
            </div>

            <div class="btn-box d-flex mt-3">
                <button type="submit" class="btn btn-success w-50 mx-1"><i class="bi bi-plus-circle"></i>Cadastrar</button>
                <a class="btn btn-info w-50 mx-1" asp-controller="Livro" asp-action="Index">Voltar</a>
            </div>
    </form>
</div>

<script>
    const inputFile = document.querySelector("#ImageFile");

    inputFile.addEventListener("change", function (e) {
        const inputTarget = e.target;
        const file = inputTarget.files[0]; /* caso mais de uma imagem seja selecionada, ele pega a primeira */

        if (file) {
            const reader = new FileReader();

            reader.addEventListener("load", function (e) {
                const readerTarget = e.target;
                const img = document.querySelector('#img');

                img.src = readerTarget.result;
            });

            reader.readAsDataURL(file); /* Mostra a imagem que foi selecionada no input file */
        }
    });

</script>


