@using ProjetoEmprestimoLivros.Models
@model UsuarioModel


<a class="navbar-brand" asp-area="" asp-controller="Livro" asp-action="Index">Empréstimo Livros</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Página Inicial</a>
        </li>
    </ul>

    @* PAINEL ADMINISTRATIVO, LISTA DE USUÁRIOS, FUNCIONÁRIOS, LIVROS E RELATÓRIOS*@
    <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
            @if (Model != null && Model.Perfil == ProjetoEmprestimoLivros.Enum.PerfilEnum.Funcionario)
            {
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    Painel Administrativo
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu bg-primary">
                    <li><a class="nav-link dropdown-item text-light" asp-controller="Cliente" asp-action="Index" asp-route-id="0">Clientes</a></li>
                    <li><a class="nav-link dropdown-item text-light" asp-controller="Funcionario" asp-action="Index">Funcionários</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="nav-link dropdown-item text-light" asp-controller="Livro" asp-action="Index">Livros</a></li>
                    <li><a class="nav-link dropdown-item text-light" asp-controller="Relatorio" asp-action="Index">Relatórios</a></li>
                </ul>
            }
        </li>
        @if (Model != null && Model.Perfil == ProjetoEmprestimoLivros.Enum.PerfilEnum.Cliente)
        {
            <li>
                <a class="nav-link" asp-action="Perfil" asp-controller="Cliente">Meu Perfil</a>
            </li>
        }

        @if (Model != null)
        {
@*             <a class="nav-link" asp-action="Login" asp-controller="Sair">Sair</a>
 *@            <a class="nav-link" asp-action="Sair" asp-controller="Home">Sair</a>
        }
        else
        {
            <a class="nav-link" asp-action="Login" asp-controller="Home">Login</a>
        }
    </ul>
</div>